name: Test

on:
  push:
    branches:
      - master
      - feat/remove-v1
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ruby_version: ["3.2", "3.3", "3.4"]
        os: ["ubuntu-latest","windows-latest","macos-latest"]
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true

      - uses: pact-foundation/pact-cli@main
      - run: pact plugin install --yes https://github.com/mefellows/pact-matt-plugin/releases/tag/v0.1.1
      - name: Test Pact-Ruby spec
        run: "bundle exec rake spec"

      - name: Test Pact-Ruby pact:spec
        run: "bundle exec rake pact:spec"

      - name: Test Pact-Ruby pact:verify
        run: "bundle exec rake pact:verify"

      - name: Test Pact-Ruby Zoo App Specs
        run: "bundle install && bundle exec rake spec"
        if: matrix.ruby_version > '3.0'
        working-directory: example/zoo-app

      - name: Test Pact-Ruby Animal Service Specs
        run: "bundle install && bundle exec rake pact:verify"
        if: matrix.os != 'windows-latest' && matrix.ruby_version > '3.0'
        working-directory: example/animal-service


  test-with-rack-2:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ruby_version: ["3.2", "3.3", "3.4"]
        os: ["ubuntu-latest","windows-latest","macos-latest"]
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true

      - uses: pact-foundation/pact-cli@main
      - run: pact plugin install --yes https://github.com/mefellows/pact-matt-plugin/releases/tag/v0.1.1
      - run: "bundle exec appraisal install"

      - run: "bundle exec appraisal rack-2 rake"

      - name: Test Mixed Pacts (Http/Kafaka/Grpc) - Pact-Ruby 
        run: "bundle exec appraisal rack-2 rake pact:spec"

      - name: Verify Mixed Pacts (Http/Kafaka/Grpc) - Pact-Ruby 
        run: "bundle exec appraisal rack-2 rake pact:verify"
        if: matrix.os != 'windows-latest' && matrix.ruby_version > '3.0'
