name: Test

on:
  push:
    branches:
      - v1
  pull_request:
    branches:
      - v1
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ruby_version: ["3.2", "3.3", "3.4"]
        os: ["ubuntu-latest","windows-latest","macos-latest"]
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - name: Test Pact-Ruby Specs
        run: "bundle exec rake"
      - name: Test Pact-Ruby Zoo App Specs
        run: "bundle install && bundle exec rake spec"
        if: matrix.ruby_version > '3.0'
        working-directory: example/zoo-app
      - name: Test Pact-Ruby Animal Service Specs
        run: "bundle install && bundle exec rake pact:verify"
        if: matrix.os != 'windows-latest' && matrix.ruby_version > '3.0'
        working-directory: example/animal-service

  test-with-rack-2:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ruby_version: ["3.2", "3.3", "3.4"]
        os: ["ubuntu-latest","windows-latest","macos-latest"]
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - run: "bundle exec appraisal install"
      - run: "bundle exec appraisal rack-2 rake"

  test-with-active-support:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ruby_version: ["3.2", "3.3", "3.4"]
        os: ["ubuntu-latest","windows-latest","macos-latest"]
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - run: bundle install
      - run: "bundle exec appraisal install"
        name: "install active support - pact-ruby"
      - run: "bundle exec appraisal activesupport rake spec_with_active_support"
        name: "test with active support - pact-ruby"
